<div class="{{styles.error}}">
  <h1 class="{{styles.error__title}}">{{errorName}}</h1>
  <p class="{{styles.error__text}}">{{errorText}}</p>
  <a href="#" class="{{styles.error__link}}" id="error-link">{{linkText}}</a>
</div>