<section class="profile">
  <div class="{{styles.profile__container--background}}">
  
    {{!-- Подключаю sidebar --}}
    {{> sidebar
    href=sidebarData.href
    iconSrc=sidebarData.iconSrc
    styles=sidebarStyles
    }}
  
    <div class="{{styles.profile__container}}">
      <div class="{{styles.profile__info}}">
  
        <a href="javascript:void(0);" id="changeAvatarBtn">
          <img class="{{styles.profile__image}}" src="{{profileImage}}" alt="Профиль пользователя" />
        </a>
  
        <div class="{{styles.profile__details}}">
          <h2 class="{{styles.profile__name}}">{{userName}}</h2>
  
          {{!-- profileFieldItem partial --}}
          {{#each userFields}}
          {{> profileFieldItem
          name=this.name
          label=this.label
          value=this.value
          styles= ../profileFieldItemStyles
          }}
          {{/each}}
        </div>
      </div>
  
      {{!-- actionLink partial --}}
      <div class="{{styles.settings__actions}}">
        {{#each buttons}}
        <div class="{{../styles.profile__actionItem}}">
          {{> actionLink href=this.href className=this.className text=this.text styles=../actionLinkStyles}}
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</section>
