<div class="{{styles.settings__container}}">
  <div class="{{styles.profile__container}}">
    <div class="{{styles.profile__info}}">
      <img
        class="{{styles.profile__image}}"
        src="{{profileImage}}"
        alt="Профиль пользователя"
      />
      <div class="{{styles.profile__details}}">
        <h2 class="{{styles.profile__name}}">{{userName}}</h2>

        {{#each userFields}}
          {{> profileFieldItem 
              name=this.name 
              label=this.label 
              value=this.value 
              styles= ../inputFieldStyles
          }}
        {{/each}}
      </div>
    </div>

    <div class="{{styles.settings__actions}}">
      {{#each buttons}}
        <div class="{{../styles.profile__actionItem}}">
          {{> actionButton href=this.href className=this.className text=this.text styles=../actionButtonStyles}}
        </div>
      {{/each}}
    </div>
  </div>
</div>