<div class="{{styles.chat__interface}}">

  <!-- Основная область для сообщений, которая пока не работает -->
  <div class="{{styles.chat__messages}}">
    {{#each messages}}
      <div class="{{styles.chat__message}}">
        <div class="{{styles.chat__message-info}}">
          <span class="{{styles.chat__message-user}}">{{userName}}</span>
          <span class="{{styles.chat__message-time}}">{{time}}</span>
        </div>
        <div class="{{styles.chat__message-text}}">
          {{text}}
        </div>
      </div>
    {{/each}}
  </div>

  <div class="{{styles.chat__interface-area}}">
    <img src="{{attachment}}" alt="{{attachment}}'s attachment" />
    <input
      type="text"
      class="{{styles.chat__interface-input}}"
      placeholder="Напишите сообщение..."
    />
    <button class="{{styles.chat__interface-sendButton}}"><img
        class="{{styles.chat__interface-sendButton}}"
        src="{{sendButton}}"
        alt="{{send}}'s send"
      /></button>
  </div>
</div>